@font-face {
  font-family: yekan;
  src: url('./assets/yekan.ttf') format('truetype');

}
@font-face {
  font-family: doran;
  src: url(./assets/doran.ttf);
}

*{
  font-family: yekan;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1,h2{
  font-family: doran;
}

p, span{
  font-family: yekan;
}
 

html{
  background-color: #dfdfdf;

}


