@font-face {
  font-family: yekan;
  src: url(./assets/yekan.ttf);

}
@font-face {
  font-family: doran;
  src: url(./assets/doran.ttf);
}

*{
  font-family: yekan;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1,h2{
  font-family: doran;
}


 

html{
  background-color: #dfdfdf;

}


