

@font-face {
  font-family: yekan;
  src: url(./assets/yekan.ttf);

}
@font-face {
  font-family: doran;
  src: url(./assets/doran.ttf);
}

*{
  font-family: doran;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



h1,h2{
  font-family: doran;
}


 
body{
  background-color: rgb(207, 207, 207);
  scroll-behavior: smooth;

}


body{
  background-color: #394f7e;
  /* background-image: url(/3d-back.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode:darken;
  max-width: 500px; */


}

@media screen and (min-width: 900px) and (max-width:1300px) {
  .body{
    background-color: #dfdfdf;
  background-image: url(/public/background-2.webp);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode:darken;
  }
}


