:root {
  --mainColor: #31496b;
}

* {
  font-family: yekan;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.mainPlanCont{
  width: 330px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 1.5rem;
}

